.App
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  
}
.colorizer .box
{
  height: 10vh;
  width: 10vh;
  border: 2px solid grey;
  border-radius: 40px;
}
.counter-box
{
  margin-top: 10vh;
}